<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>BLOGBLOOMS | Blog</title>
</head>

<body>
    <%- include("./partials/nav") %>
        <div class="container">
            <h1 style="text-align: center; margin-bottom: 10px; margin-top: 15px; padding: 8px;">
                <%= blog.title %>
            </h1>
            <h2 style="display: flex; align-items: center; justify-content: center;"><img
                    src="<%= blog.coverImageURL %>" alt="" width="800px" height="500px" /></h2>
            <pre><%= blog.body %></pre>
            
        </div>
        <div class="container mt-4">
            <img src="<%=blog.createdBy.profileImageURL %>" width="60px"/> <%=blog.createdBy.fullName %>
        </div>

        <%- include("./partials/scripts") %>





</body>

</html>